
{{#each results}}
<form class="row g-3 needs-validation" method="POST" action="/edituser/{{this.kullaniciId}}" novalidate>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.kullaniciAd}}" placeholder="Kullanıcı Adı" name="kullaniciAd">
      <label for="floatingInput">Kullanıcı Adı</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.kullaniciSifre}}" placeholder="Şifre" name="kullaniciSifre">
      <label for="floatingInput">Şifre</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Güncelle</button>
  </div>
</form>
{{/each}}